@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/54f0cb7e4a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="CSS/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <title>Vestman | Quý ông lịch lãm</title>
</head>
<body>
    <!-- -------------------------------------Header----------------------------------------- -->
    <section class="top">
        <div class="container">
            <div class="row">

                <!-- ----------Logo---------- -->
                <div class="top-logo">
                    <a href="~/Views/Shared/_LayoutUser.cshtml"> <img src="~/IMAGES/logovestman.png" alt=""> </a>
                </div>

                <!-- ----------Menu lớn---------- -->
                <div class="top-menu-items">


                    <!-- ----------Giới thiệu---------- -->
                    <li>
                        <a href="">GIỚI THIỆU</a>
                        <!-- <ul class="top-menu-item">
                            <li> <a href="">VỀ CHÚNG TÔI</a> </li>
                            <li> <a href="">LIÊN HỆ</a> </li>
                        </ul> -->
                    </li>

                    <!-- ----------DANH MỤC SẢN PHẨM---------- -->
                    <li>
                        <a href="">SẢN PHẨM</a>
                        <ul class="top-menu-item">
                            <li>
                                <a href="cartegory.html">VEST LỊCH LÃM</a>
                                <ul>
                                    <li> <a href="cartegory.html">VEST DẠ HỘI</a> </li>
                                    <li> <a href="cartegory.html">VEST CÔNG SỞ</a> </li>
                                    <li> <a href="cartegory.html">VEST PARTY</a> </li>
                                    <li> <a href="cartegory.html">VEST DOANH NHÂN</a>
                                </ul>
                            </li>

                            <li>
                                <a href="cartegory.html">ÁO ÂU NAM</a>
                                <ul>
                                    <li> <a href="cartegory.html">ÁO SƠ MI</a>
                                    <li> <a href="cartegory.html">ÁO GILE</a>
                                    <li> <a href="cartegory.html">ÁO PHÔNG</a>
                                </ul>
                            </li>

                            <li>
                                <a href="cartegory.html">QUẦN ÂU NAM</a>
                                <ul>
                                    <li> <a href="cartegory.html">QUẦN TÂY</a>
                                    <li> <a href="cartegory.html">QUẦN TÂY THUN</a>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <!-- ----------DANH MỤC PHỤ KIỆN---------- -->
                    <li>
                        <a href="cartegory.html">PHỤ KIỆN </a>
                        <ul class="top-menu-item">
                            <li> <a href="cartegory.html">ĐỒNG HỒ NAM</a> </li>
                            <li> <a href="cartegory.html">CÀ VẠT NAM</a> </li>
                            <li> <a href="cartegory.html">THẮT LƯNG NAM</a> </li>
                        </ul>
                    </li>

                    <!-- ----------GÓC ĐÀN ÔNG---------- -->
                    <li> <a href="news-man.html">GÓC ĐÀN ÔNG</a></li>


                </div>

                <!-- ----------Tìm kiếm---------- -->
                <div class="top-menu-icons">
                    <li>
                        <input type="text" placeholder="Tìm kiếm">
                        <i class="fas fa-search"></i>
                    </li>

                    <li>
                        <a href="cart.html">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>

                    <li>
                        <a href="">
                            <i class="fas fa-user-secret"></i>
                        </a>
                    </li>
                </div>

            </div>
        </div>
    </section>

    <!-- -------------------------------------Cartegory----------------------------------------- -->
    <section class="cartegory">
        <div class="container">
            <div class="cartegory-top row2">
                <p>Trang chủ</p> <span>⟶</span> <p>SẢN PHẨM</p> <span>⟶</span> <p>VEST LỊCH LÃM</p>
            </div>
        </div>

        <div class="container">
            <div class="row2">

                <!-- ----------DANH MỤC SẢN PHẨM Ở BÊN TRÁI---------- -->
                <div class="cartegory-left">
                    <ul>

                        <li class="cartegory-left-li">
                            <a href="#">VEST LỊCH LÃM</a>
                            <ul>
                                <li><a href="">VEST DẠ HỘI</a></li>
                                <li><a href="">VEST CÔNG SỞ</a></li>
                                <li><a href="">VEST PARTY</a></li>
                                <li><a href="">VEST DOANH NHÂN</a></li>
                            </ul>
                        </li>

                        <li class="cartegory-left-li">
                            <a href="#">ÁO ÂU NAM</a>
                            <ul>
                                <li><a href="">ÁO SƠ MI</a></li>
                                <li><a href="">ÁO GHI LÊ</a></li>
                                <li><a href="">ÁO PHÔNG</a></li>
                            </ul>
                        </li>

                        <li class="cartegory-left-li">
                            <a href="#">QUẦN ÂU NAM</a>
                            <ul>
                                <li><a href="">QUẦN TÂY</a></li>
                                <li><a href="">QUẦN TÂY CO DÃN</a></li>
                            </ul>
                        </li>

                        <li class="cartegory-left-li">
                            <a href="#">PHỤ KIỆN NAM</a>
                            <ul>
                                <li><a href="">ĐỒNG HỒ NAM</a></li>
                                <li><a href="">CÀ VẠT NAM</a></li>
                                <li><a href="">THẮT LƯNG NAM</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>

                <div class="cartegory-right row2">

                    <div class="cartegory-right-top-item">
                        <p>VEST DOANH NHÂN</p>
                    </div>

                    <div class="cartegory-right-top-item">
                        <button><span>Bộ lọc</span> <i class="fas fa-sort-down"></i></button>
                    </div>

                    <div class="cartegory-right-top-item">
                        <select name="" id="">
                            <option value="">Sắp xếp</option>
                            <option value="">Giá cao đến thấp</option>
                            <option value="">Giá thấp đến cao</option>
                        </select>
                    </div>

                    <!-- ----------SHOW RA SẢN PHẨM Ở BÊN PHẢI---------- -->
                    <div class="cartegory-right-content row2">
                        <div class="cartegory-right-content-item">
                            <a href="product.html"><img src="~/IMAGES/Product/product1.jpeg" alt=""></a>
                            <a href="product.html"><h1>VEST DOANH NHÂN MẪU 1</h1></a>
                            <p>2.500.000<sup>đ</sup></p>
                        </div>

                        <div class="cartegory-right-content-item">
                            <a href="product.html"><img src="~/IMAGES/Product/product2.jpeg" alt=""></a>
                            <a href="product.html"><h1>VEST DOANH NHÂN MẪU 2</h1></a>
                            <p>2.500.000<sup>đ</sup></p>
                        </div>

                        <div class="cartegory-right-content-item">
                            <a href="product.html"><img src="~/IMAGES/Product/product3.jpeg" alt=""></a>
                            <a href="product.html"><h1>VEST DOANH NHÂN MẪU 3</h1></a>
                            <p>2.500.000<sup>đ</sup></p>
                        </div>

                        <div class="cartegory-right-content-item">
                            <a href="product.html"><img src="~/IMAGES/Product/product4.jpeg" alt=""></a>
                            <a href="product.html"><h1>VEST DOANH NHÂN MẪU 4</h1></a>
                            <p>2.500.000<sup>đ</sup></p>
                        </div>

                        <div class="cartegory-right-content-item">
                            <a href="product.html"><img src="~/IMAGES/Product/product5.jpeg" alt=""></a>
                            <a href="product.html"><h1>VEST DOANH NHÂN MẪU 5</h1></a>
                            <p>2.500.000<sup>đ</sup></p>
                        </div>

                        <div class="cartegory-right-content-item">
                            <a href="product.html"><img src="~/IMAGES/Product/product6.jpeg" alt=""></a>
                            <a href="product.html"><h1>VEST DOANH NHÂN MẪU 6</h1></a>
                            <p>2.500.000<sup>đ</sup></p>
                        </div>

                        <div class="cartegory-right-content-item">
                            <a href="product.html"><img src="~/IMAGES/Product/product7.jpeg" alt=""></a>
                            <a href="product.html"><h1>VEST DOANH NHÂN MẪU 7</h1></a>
                            <p>2.500.000<sup>đ</sup></p>
                        </div>

                        <div class="cartegory-right-content-item">
                            <a href="product.html"><img src="~/IMAGES/Product/product8.jpeg" alt=""></a>
                            <a href="product.html"><h1>VEST DOANH NHÂN MẪU 8</h1></a>
                            <p>2.500.000<sup>đ</sup></p>
                        </div>

                    </div>

                    <!-- ----------Số trang ở dưới cùng---------- -->
                    <div class="cartegory-right-bottom row2">
                        <div class="cartegory-right-bottom-items">
                            <!-- <p>Hiện thị 2 <span>|</span> 4 sản phẩm</p> -->
                        </div>
                        <div class="cartegory-right-bottom-items">
                            <p><span>«</span>1 2 3 4 5<span>»</span>Trang cuối</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- -------------------------------------Footer----------------------------------------- -->
    <section class="footer">
        <div class="footer-container">
            <p>Tải ứng dụng Vestman</p>
            <div class="app-google">
                <a href=""><img src="~/IMAGES/appstore.jpeg" alt=""></a>
                <a href=""> <img src="~/IMAGES/googleplay.jpeg" alt=""></a>
            </div>
            <p>Nhận bản tin Vestman</p>
            <div class="input-email">
                <input type="text" placeholder="Nhập email của bạn">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="footer-items">
                <li><a href="">Liên hệ</a></li>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Sản phẩm</a></li>
                <li><a href="">Bản tin</a></li>
                <!-- <li><a href=""><i class="fab fa-facebook-f"></i></a><a href=""><i class="fab fa-youtube"></i></a></li> -->
            </div>
            <div class="footer-text">
                <p>Bản quyền phần mềm thuộc về Hứa Chí Cường, Phạm Quang Long, Ngô Trường Phúc</p>
                <br>
                <p>Mọi chi tiết xin hệ qua Vestman@gmail.com</p>
                <br>
                <p>Hoặc SDT: 0909999999</p>
            </div>
            <div class="footer-bottom">
                <p> ©Vestman 2021 | All rights reserved </p>
            </div>
        </div>
    </section>

    <!-- -------------------------------------JavaScript----------------------------------------- -->
    <script src="Javascript/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".owl-carousel").owlCarousel();
        });

        /* Các chức năng của Framework Slider */
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            autoplayTimeout: 3000,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    </script>
</body>
</html>
